@font-face{
	font-family: AlfaSlabOne-Regular;
	src: url(../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}
@font-face{
	font-family: BebasNeue-Bold;
	src: url(../fonts/bebas_neue/BebasNeue-Bold.ttf);
}
@font-face{
	font-family: BebasNeue-Regular;
	src: url(../fonts/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}


body{
	margin: 0;
	padding: 0;

}

header{
	padding-bottom: 30px;
}
.background{
	background-image: url(../images/h-bg.jpg);
}

.container{
	width: 90%;
	margin: auto;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.wrapper{}
.logo{
	width: 15%;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 25px;
}
.logo img{
	width: 100%;
}
.menu{
	width: 60%;
	/*border: 1px solid red;*/
	float: right;
	display: inline-block;
	margin-top: 40px;
}
.delivery{
	width: 32%;
	overflow: hidden;
	margin-left: 580px;
	/*border: 1px solid red;*/
	padding-bottom: 5px;


}
.d-d{
	float: left;
	padding-left: 12px;


}
.d-t{
	font-family: Montserrat-Bold;
	font-size: 13px;
	float: right;
	display: inline-block;
	margin-top: 11px;

}

.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;

}
.menu ul li a{
	text-decoration: none;
    margin-left: 70px;
    font-family: BebasNeue-Bold;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #3d2514;
    padding: 0 0 7px;
    border-bottom: 2px solid transparent;
	transition: .4s;

}

.menu ul li a:hover{
	border-bottom: 2px solid #3d2514;
}



.head-banner{}
.h-wrap{
	overflow: hidden;
}
.h-text{
	float: left;
	margin-top: 70px;
}

.h-p{
	width: 61%;
	font-family: BebasNeue-Regular;
	font-weight: 400;
	font-size: 20px;
	color: #3d2514;
	border: 2px dashed #3d2514;
	margin: 0;
	text-align: center;
	padding: 7px 0;
	text-transform: uppercase;
	/*border-width: 26px;*/
}
.h-1{
	font-family: AlfaSlabOne-Regular;
	font-weight: 400;
	font-size: 120px;
	color: #3d2514;
	margin: 0;
	text-transform: uppercase;
}

.h-2{
	font-family: AlfaSlabOne-Regular;
	font-weight: 400;
	font-size: 60px;
	color: #3d2514;
	margin: -20px 0;
	text-transform: uppercase;
}
.h-img{
	float: right;
	padding-bottom: 60px;
	margin: 0;
	margin-bottom: 20px;

}
.h-img img{
}

.burger-list{
	padding-top: 75px;
	padding-bottom: 75px;
}
.b-wrapper{
	overflow: hidden;
	/*float: left;*/

	/*padding-bottom: 50px;*/
}
.left{
	float: left;
	min-height: 420px;
	width: 45%;
	background-image: url(../images/burgerfull.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 96px;


}
/*.b-imgg{

}*/
.b-t{
	font-family: BebasNeue-Bold;
	font-size: 24px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	margin: 30px 0 0 20px;

}
.b-title{
	font-family: BebasNeue-Bold;
	font-size: 39px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	margin: 0 0 0 20px;
}

.r-wrapper{
	float: right;
	width: 45%;
	margin-right: 46px;

}

.b-title2{
	font-family: BebasNeue-Bold;
	font-size: 39px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	margin: 0 0 0 20px;
}


.right-1{
	min-height: 192px;
	width: 96%;
	background-image: url(../images/burger-1.png);
	background-repeat: no-repeat;
	display: inline-block;
	/*border: 1px solid;*/
	margin: 0;
	margin-bottom: 36px;
}

.right-2{
	min-height: 192px;
	width: 96%;
	background-image: url(../images/burger-2.png);
	background-repeat: no-repeat;
	display: inline-block;
	/*border: 1px solid;*/
	margin: 0;
}

.choose{
	padding-bottom: 70px;
}
.c-wrapp{
	text-align: center;
	width: 75%;
	margin: 0 auto;
}
.c-p{
	margin: 0 auto;
	background-color: #ffc045;
	width: 213px;
	min-height: 33px;
	padding-top: 7px;
	font-family: BebasNeue-Bold;
	font-size: 25px;
	font-weight: 700;
	color: #3d2514;
	


}

.c-p22{
	padding-top: 7px;

}
.c-title{
	font-family: AlfaSlabOne-Regular;
	font-weight: 400;
	font-size: 50px;
	color: #3d2514;
	text-transform: uppercase;
	margin: 20px 0 7px 0;

}
.c-p2{
	margin: 0;
	font-family: Montserrat-Regular;
	font-weight: 300;
	font-size: 16px;
	color: #3d2514;
	line-height: 28px;
}

.container2{
	width: 96%;
	margin: auto;
	/*border: 1px solid red;*/
	overflow: hidden;
	}

.list{
	padding-bottom: 100px;
}
.list-wrapp{
	width: 25%;
	/*border: 1px solid;*/
	text-align: center;
	float: left;
	margin-right: 63px;
	margin-left: 63px;

}
.list-img{}
.list-img img{
	width: 100%;
}
.list-title{
	font-family: BebasNeue-Bold;
	font-size: 40px;
	font-weight: 700;
	color: #3d2514;
	margin: 0;
}
.list-p{
	font-family: Montserrat-Regular;
	font-size: 17px;
	font-weight: 300;
	color: #3d2514;
	line-height: 24px;
	margin: 11px 0 28px 0;
}

.btn{
	width: 185px;
	height: 43px;
	background-color: #e62424;
	border: transparent;
	font-family: AlfaSlabOne-Regular;
	font-size: 16px;
	font-weight: 300;
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: .3s;

}

.btn:hover{
	background-color: #3d2514;


}



